@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://justfreefonts.com/download-font.php?font_id=421');

html,
body {
    font-family: 'Arial', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.wraper {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.mw {
    margin: 0 auto;
}

.container {
    max-width: 80% !important;
    margin: 0 auto;
}

.nav-img {
    padding: 6px 12px;
}

.navbar-nav {
    display: inline-block;
}

.nav-link {
    text-decoration: none;
}

.nav-item {
    display: inline-block;
    padding: 6px 12px;
    text-decoration: none;
}

.navbar {
    width: 100%;
}

.nav-link:hover {
    text-transform: none;
}

.link-line {
    padding-left: 12px;
}

.link-custom {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    background: none;
    border: 0;
}

.navbar-item-text {
    margin: 0;
    color: #000;
    font-family: "Arial";
    font-size: 18px;
    font-style: sans-serif;
    font-weight: 400;
    line-height: normal;
    padding: 0;
}

.poster-text {
    color: #000;
    font-family: Blue curve;
    font-size: 64px;
    font-style: sans-serif;
    font-weight: 300;
    line-height: normal;
}

.Inter {
    font-family: "Arial";
    font-style: sans-serif;
    font-weight: 400;
    line-height: normal;
}

.BlueCurve {
    font-family: Arial;
    font-style: sans-serif;
    font-weight: 300;
    line-height: normal;
}

.full-img {
    width: 100%;
    display: flex;
}

.size1-img {
    max-width: 1200px;
}

.main-img {
    position: relative;
    text-align: center;

    font-family: Arial;
    font-style: sans-serif;
    font-weight: 300;
    line-height: normal;

    width: 1440px;
    height: 500px;
    flex-shrink: 0;
    object-fit: cover;
}

.Content-Blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.Content-Block {
    position: relative;
    text-align: center;

    font-family: Arial;
    font-style: sans-serif;
    font-weight: 300;
    line-height: normal;

    margin-top: 20px;
}

.Left-Black-p {
    position: absolute;
    bottom: 250px;
    left: 160px;

    font-size: 64px;
    color: #000;
}

.Left-Black-p-buy {
    position: absolute;
    bottom: 125px;
    left: 165px;

    font-size: 48px;
    color: #000;
    padding-bottom: 8px;
    border-bottom: #000 2px solid;
}

.Right-White-p {
    position: absolute;
    bottom: 65%;
    right: 11%;

    font-size: 64px;
    color: #fff;
}

.Right-White-p-buy {
    position: absolute;
    bottom: 40%;
    right: 43%;

    font-size: 48px;
    color: #fff;
    padding-bottom: 8px;
    border-bottom: #fff 2px solid;
}

.Main-Img-p {
    position: absolute;
    bottom: 750px;
    left: 475px;

    font-size: 64px;
    color: #fff;
}

.Main-Img-p-buy {
    position: absolute;
    bottom: 625px;
    left: 475px;

    font-size: 48px;
    color: #fff;
    padding-bottom: 8px;
    border-bottom: #fff 2px solid;
}

.popular {
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
    align-content: center;

    color: #000;
    font-family: "Arial";
    font-size: 18px;
    font-style: sans-serif;
    font-weight: 400;
    line-height: normal;

    padding: 0;
    margin-top: 20px;
}

.popular-blocks {
    display: flex;
    position: relative;

    color: #000;
    font-family: "Arial";
    font-size: 18px;
    font-style: sans-serif;
    font-weight: 400;
    line-height: normal;

    margin-top: 12px;
    padding: 0;

    max-width: 1200px;
}

.popular-block {
    margin-right: 45px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.popular-block:last-of-type {
    margin-right: 0px;
    padding: 0;
}

.item-fav1 {
    position: absolute;
    top: 20px;
    left: 309px;
    font-size: 36px;
}

.item-fav2 {
    position: absolute;
    top: 20px;
    right: 434px;
    font-size: 36px;
}

.item-fav3 {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 36px;
}

.fav-btn {
    background: transparent;
    border: none;
    outline: none;
    color: grey;
}

.margin-12 {
    margin: 12px;
}

.margin-24 {
    margin: 24px;
}

.margin-36 {
    margin: 36px;
}

.margin-72 {
    margin: 72px;
}

.margin-356 {
    margin: 356px;
}

.fontSize-12 {
    font-size: 12px;
}

.fontSize-24 {
    font-size: 24px;
}

.fontSize-36 {
    font-size: 36px;
}

.fontSize-48 {
    font-size: 48px;
}

.fontSize-72 {
    font-size: 72px;
}

.fontSize-128 {
    font-size: 128px;
}

.fontSize-156 {
    font-size: 156px;
}

.gray {
    color: gray;
}


.bottomInfo {
    background-color: #000;
    width: 100%;
    height: 400px;
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
}

.bottomInfos {
    margin-left: 180px;
    display: contents;
    padding: 0;
    margin: 0;
}

.infoHeader {
    color: #fff;
    margin: 16px;
}

.infoItem {
    color: grey;
    margin: 16px
}

.jc-c {
    display: flex;
    justify-content: center;
}

.LogReg {
    display: flex;
    justify-content: center;
}

.alItems-c {
    display: flex;
    align-items: center;
}

.header-link-line {
    margin: 0;
    margin-left: 10.5%;
    font-size: 12px;
    width: 80%;
}

.cabinet-left-menu {
    max-width: 80%;
    margin-right: 60px;
}

.cabinet-ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    margin-left: 230px;
}

.cabinet-li {
    border: 1px solid #8d969c;
    margin: 0.5px;
    padding-left: 4px;
    width: 150px;
}

/* Применяем стили ко всем li элементам, кроме первого */
.cabinet-li:not(:first-child):not(.li-active):hover {
    border: 2px solid gray;
    margin: 0.5px;
    padding-left: 4px;
    width: 150px;
}

.li-active {
    border-left: 2px solid red;
}

.cabinet-main {
    display: flex;
}

.avatar-block {
    margin-top: 20px;
}

.avatar {
    width: 200px;
    height: 200px;
    display: block;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid gray;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

input[type="tel"]::placeholder,
input[type="text"]::placeholder {
    font-size: 20px;
    color: black;
}

input[type="tel"],
input[type="text"] {
    width: 250px;
    border: 0;
    border-bottom: 2px solid black;
    ;
}

.blck-btn {
    border: 0;
    background-color: rgb(66, 66, 66);
    color: white;
}

.space-btw {
    display: flex;
    justify-content: space-between;
}