@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://justfreefonts.com/download-font.php?font_id=421');

html,
body {
    font-family: 'Blue curve', normal;
    font-size: 20px;
}

html,
body {
    height: 100%;
    width: 100%;
}

.wraper {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.mw {
    margin: 0 auto;
}

.container {
    max-width: 80% !important;
    margin: 0 auto;
}

.nav-img {
    padding: 6px 12px;
}

.navbar-nav {
    display: inline-block;
}

.nav-link {
    text-decoration: none;
}

.nav-item {
    display: inline-block;
    padding: 6px 12px;
    text-decoration: none;
}

.navbar {
    width: 100%;
}

.nav-link:hover {
    text-transform: none;
}

.link-line {
    padding-left: 12px;
}

.link-custom {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    background: none;
    border: 0;
}

.navbar-item-text {
    margin: 0;
    color: #000;
    font-size: 24px;
}

.poster-text {
    color: #000;
    font-family: "Blue curve";
    font-size: 64px;
    font-style: sans-serif;
    font-weight: 300;
    line-height: normal;
}

.Inter {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.BlueCurve {
    font-family: "Blue curve";
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.full-img {
    width: 100%;
    display: flex;
}

.size1-img {
    max-width: 1200px;
}

.main-img {
    position: relative;
    text-align: center;

    font-family: Arial;
    font-style: sans-serif;
    font-weight: 300;
    line-height: normal;

    width: 1440px;
    height: 500px;
    flex-shrink: 0;
    object-fit: cover;
}

.Content-Blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.Content-Block {
    position: relative;
    text-align: center;

    font-family: Arial;
    font-style: sans-serif;
    font-weight: 300;
    line-height: normal;

    margin-top: 20px;
}

.Left-Black-p {
    position: absolute;
    bottom: 250px;
    left: 160px;

    font-size: 64px;
    color: #000;
}

.Left-Black-p-buy {
    position: absolute;
    bottom: 125px;
    left: 165px;

    font-size: 48px;
    color: #000;
    padding-bottom: 8px;
    border-bottom: #000 2px solid;
}

.Right-White-p {
    position: absolute;
    bottom: 65%;
    right: 11%;

    font-size: 64px;
    color: #fff;
}

.Right-White-p-buy {
    position: absolute;
    bottom: 40%;
    right: 43%;

    font-size: 48px;
    color: #fff;
    padding-bottom: 8px;
    border-bottom: #fff 2px solid;
}

.Main-Img-p {
    position: absolute;
    bottom: 750px;
    left: 475px;

    font-size: 64px;
    color: #fff;
}

.Main-Img-p-buy {
    position: absolute;
    bottom: 625px;
    left: 475px;

    font-size: 48px;
    color: #fff;
    padding-bottom: 8px;
    border-bottom: #fff 2px solid;
}

.popular {
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
    align-content: center;

    color: #000;
    font-family: "Arial";
    font-size: 18px;
    font-style: sans-serif;
    font-weight: 400;
    line-height: normal;

    padding: 0;
    margin-top: 20px;
}

.popular-blocks {
    display: flex;
    position: relative;

    color: #000;
    font-family: "Arial";
    font-size: 18px;
    font-style: sans-serif;
    font-weight: 400;
    line-height: normal;

    margin-top: 12px;
    padding: 0;

    max-width: 1200px;
}

.popular-block {
    margin-right: 45px;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.popular-block:last-of-type {
    margin-right: 0px;
    padding: 0;
}

.item-fav1 {
    position: absolute;
    top: 20px;
    left: 309px;
    font-size: 36px;
}

.item-fav2 {
    position: absolute;
    top: 20px;
    right: 434px;
    font-size: 36px;
}

.item-fav3 {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 36px;
}

.fav-btn {
    background: transparent;
    border: none;
    outline: none;
    color: grey;
}


.margin-padding-0 {
    margin: 0;
    padding: 0;
}

.padding-6 {
    padding: 6px;
}

.padding-12 {
    padding: 12px;
}

.padding-24 {
    padding: 24px;
}

.padding-left-6 {
    padding-left: 6px;
}

.padding-left-12 {
    padding-left: 12px;
}

.padding-bottom-6 {
    padding-bottom: 6px;
}

.padding-bottom-12 {
    padding-bottom: 12px;
}

.margin-12 {
    margin: 12px;
}

.margin-24 {
    margin: 24px;
}

.margin-36 {
    margin: 36px;
}

.margin-72 {
    margin: 72px;
}

.margin-356 {
    margin: 356px;
}

.margin-bottom-10pr {
    margin-bottom: 10%;
}

.margin-bottom-150 {
    margin-bottom: 150px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-12 {
    margin-bottom: 12px;
}

.margin-bottom-6 {
    margin-bottom: 6px;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-100 {
    margin-right: 100px;
}

.margin-top-12 {
    margin-top: 12px;
}

.fontSize-12 {
    font-size: 12px;
}

.fontSize-18 {
    font-size: 18px;
}

.fontSize-24 {
    font-size: 24px;
}

.fontSize-36 {
    font-size: 36px;
}

.fontSize-48 {
    font-size: 48px;
}

.fontSize-72 {
    font-size: 72px;
}

.fontSize-128 {
    font-size: 128px;
}

.fontSize-156 {
    font-size: 156px;
}

.gray {
    color: gray;
}

.black {
    color: black;
}


.bottomInfo {
    background-color: #000;
    width: 100%;
    height: 400px;
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
}

.bottomInfos {
    margin-left: 180px;
    display: contents;
    padding: 0;
    margin: 0;
}

.infoHeader {
    color: #fff;
    margin: 16px;
}

.infoItem {
    color: grey;
    margin: 16px
}

.jc-c {
    display: flex;
    justify-content: center;
}

.LogReg {
    display: flex;
    justify-content: center;
}

.alItems-c {
    display: flex;
    align-items: center;
}

.header-link-line {
    margin: 0;
    margin-left: 10.5%;
    font-size: 12px;
    width: 80%;
}

.cabinet-main {
    display: flex;
}

.cabinet-left-menu {
    max-width: 80%;
    margin-right: 60px;
}

.cabinet-ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

.cabinet-li {
    border: 1px solid #8d969c;
    margin: 0.5px;
    padding-left: 4px;
    width: 150px;
}

/* Применяем стили ко всем li элементам, кроме первого */
.cabinet-li:not(:first-child):not(.li-active):hover {
    border: 2px solid gray;
    margin: 0.5px;
    padding-left: 4px;
    width: 150px;
}

.li-active {
    border-left: 2px solid red;
}

.avatar-block {
    margin-top: 20px;
}

.avatar {
    width: 200px;
    height: 200px;
    display: block;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid gray;
}



.inl-block {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

input[type="tel"]::placeholder,
input[type="text"]::placeholder {
    font-size: 20px;
    color: black;
}

input[type="tel"],
input[type="text"] {
    width: 250px;
    border: 0;
    border-bottom: 2px solid black;
    ;
}

.blck-btn {
    border: 0;
    background-color: rgb(66, 66, 66);
    color: white;
}

.white-btn {
    border: 1px solid black;
    ;
    background-color: white;
    color: black;
}

.clear-btn {
    border: 0;
    background-color: white;
    color: 0;
}

.add-to-cart-btn {
    border: 0;
    background-color: rgb(220, 53, 69);
    color: white;
    padding: 12px;
}

.space-btw {
    display: flex;
    justify-content: space-between;
}

.product-main {
    max-width: 80%;
    margin-left: 11%;

    display: flex;
}

.image-block {
    max-width: 560px;
}

.func-block {
    margin-left: 40px;
}

.small-6 {
    max-width: 6px;
    max-height: 6px;
}

.small-12 {
    max-width: 12px;
    max-height: 12px;
}

.small-18 {
    max-width: 18px;
    max-height: 18px;
}

.small-24 {
    max-width: 24px;
    max-height: 24px;
}

.small-custom {
    width: 4px;
    height: 16px;
}

.small-custom2 {
    width: 36px;
    height: 36px;
}

.margin-left-7pr {
    margin-left: 7%;
}

.margin-left-11pr {
    margin-left: 11%;
}

.margin-left-19pr {
    margin-left: 19%;
}

.margin-left-20 {
    margin-left: 20px;
}

.custom-line {
    width: 78%;
    height: 2px;
    background-color: #000;
    margin: 20px auto;
    border: none;
}

.five-img-block {
    margin-left: 11.9%;
}

.three-img {
    display: flex;
    flex-wrap: wrap;
    max-width: 284px;
    max-height: 480px;
    border: 2px solid black;
    margin: 10px;
    margin-left: 0px;
    margin-right: 80px;
    justify-content: center;
    font-size: 24px;
}

.two-img {
    display: flex;
    width: 431px;
    max-height: 374px;
    border: 2px solid black;
    margin: 10px;
    margin-left: 0px;
    margin-right: 150px;
    align-items: center;
    font-size: 24px;
}

.border-div {
    border: 1px solid rgb(175, 175, 175);
}

.ul-no-pointers {
    list-style: none;
    margin: 0;
    padding: 0;
}

.width-80 {
    width: 80%;
}

.width-900 {
    width: 900px;
}

.flex {
    display: flex;
}

.item-price {
    padding-left: 6px;
}


.quantity-control {
    display: flex;
    border: 2px solid rgb(176, 176, 176);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    margin-bottom: 20px;
}

.quantity-control button {
    background-color: rgb(149, 149, 149);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 30px;
    height: auto;
    text-align: center;
    transition: background-color 0.2s;
}

.quantity-control button:hover {
    background-color: gray;
}

.quantity-input {
    width: 150px;
    text-align: center;
    border: none;
    font-size: 24px;
    outline: none;
}

/* Hide the number input spin buttons */
.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-input[type="number"] {
    -moz-appearance: textfield;
}

.order-button {
    border: 0;
    background-color: rgb(103, 103, 103);
    color: white;

    font-size: 30px;

    text-align: center;

    width: 250px;
    border-radius: 10px;
}

.order-button:hover {
    border: 0;
    background-color: rgb(66,66,66);
    color: white;

    font-size: 30px;

    text-align: center;

    width: 250px;
    border-radius: 10px;
}

.delivery-button {
    border: none;
    border-bottom: 1px solid gray;
    color: gray;
}

.delivery-button-active {
    border: none;
    border-bottom: 1px solid gray;

}